{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header">Login</h5>
                <div class="card-body">
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                    <form action="{% url 'accounts:login' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form|crispy }}
                        </div>
                        <div class="mb-3">
                            <label for="access_token" class="form-label">Access Token:</label>
                            <input type="password" class="form-control" id="access_token" name="access_token">
                        </div>
                        <input type="hidden" name="next" value="{{ next }}">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}