{% extends "base.html"%}
{% load crispy_forms_filters %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h1 class="card-title mb-0">{{ assignment.title }}</h1> <!-- mb-0 removes bottom margin from h1 if any -->
                    </div>
                    <h6>Classroom: {{assignment.classroom.title}}</h6>
                    <h6 class="text-muted">Creation date: {{ assignment.creation_date }}</h6>
                    <h6 class="text-muted">Deadline: {{ assignment.deadline }}</h6>
                    <p class="card-text">Description: {{ assignment.description }}</p>
                    <p class="card-text">Template ID: {{ assignment.template_id }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}