{% extends "base.html"%}
{% load crispy_forms_filters %}
{% block content %}
  <h1>
    Your assignments
  </h1>
  <form method="get" action="" class="d-flex">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔎">
  </form>
  {% if assignment_list %}
  <table class="table">
    <tr>
      <th>Classroom</th>
      <th>Title</th>
      <th>Deadline</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    {% for assignment in assignment_list %}
      <tr>
        <td>
          {{ assignment.classroom.title }}
        </td>
        <td>
          <a style="text-decoration: none;" href="{{assignment.get_absolute_url}}">  {{ assignment.title }} </a>
        </td>
        <td>
          {{assignment.deadline}}
        </td>
        <td>
          <a style="text-decoration: none;" href="{% url 'gitlab_classroom:assignment-update' pk=assignment.id %}"> UPDATE </a>
        </td>
        <td>
          <a style="color: red; text-decoration: none;" href="{% url 'gitlab_classroom:assignment-delete' pk=assignment.id %}"> DELETE </a>
        </td>
      </tr>
       {% endfor %}
      </table>
    {%else%}
    <h2>There is no classrooms</h2>
  {% endif %}
  {% endblock %}