{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Your classrooms</h1>
        <a class="btn btn-primary" href="{% url 'gitlab_classroom:classroom-create' %}">+ Add Classroom</a>
    </div>
    
    <form method="get" action="" class="d-flex align-items-center mb-3">
        {{ search_form|crispy }}
        <button class="btn btn-secondary ms-2 mb-2" type="submit">🔎 Search</button>
    </form>

    {% if classroom_list %}
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for classroom in classroom_list %}
            <tr>
                <td>{{ classroom.id }}</td>
                <td><a href="{{ classroom.get_absolute_url }}" class="title">{{ classroom.title }}</a></td>
                <td><a class="btn btn-info" href="{% url 'gitlab_classroom:classroom-update' pk=classroom.id %}">Update</a></td>
                <td><a class="btn btn-danger" href="{% url 'gitlab_classroom:classroom-delete' pk=classroom.id %}" onclick="return confirm('Are you sure?');">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2 class="text-center">There are no classrooms available.</h2>
    {% endif %}
</div>
{% endblock %}
