{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
<style>
    .assignment-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; /* Ensures that content wraps if there's not enough space */
    }

    .assignment-title {
        flex-grow: 1;
        margin-right: 10px; /* Add some space between the title and the buttons */
        word-break: break-word; /* Breaks long words to avoid overflow */
    }

    .assignment-actions {
        display: flex;
        align-items: center;
    }

    .assignment-actions .btn,
    .assignment-actions .badge {
        margin-left: 5px; /* Space between buttons and badge */
    }
</style>

<div class="container mt-5">
    <h1 class="mb-5">{{ classroom.title }} <small class="text-muted">Classroom ID: {{classroom.gitlab_id}}</small></h1>
    <div class="row">
        <!-- Assignments Section -->
        <div class="col-md-6">
            <div class="mb-4">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h2>Assignments:</h2>
                    <a href="{% url 'gitlab_classroom:assignment-create' pk=classroom.id %}" type="submit" name="add_assignment" class="btn btn-primary mb-0">+ Add Assignment</a>
                </div>
            </div>
            <ul class="list-group mt-3">
                {% for assignment in classroom.assignment.all %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{assignment.get_absolute_url}}" class="assignment-title">{{ assignment.title }}</a>
                    {% if assignment.repo_url %}
                    <div class="assignment-actions">
                            <a href="{{ assignment.repo_url }}" class="btn btn-primary">View Repository</a>
                        {% else %}
                            <span class="text-danger">Repository URL not available</span>
                    {% endif %}
                    <span class="badge badge-primary badge-pill assignment-badge">Deadline: {{ assignment.deadline }}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Students Section -->
        <div class="col-md-6">
            <div class="mb-4">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h2>Students:</h2>
                    <form method="post" class="d-flex align-items-center me-2">
                        {% csrf_token %}
                        <div class="d-flex align-items-center">
                            {{ add_student_form|crispy }}
                            <button type="submit" name="add_student" class="btn btn-primary m-1">Add Student</button>
                        </div>
                    </form>
                </div>
            </div>
            <ul class="list-group mt-3">
                {% for student in classroom.students.all %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{student.get_absolute_url}}">{{ student.first_name }} {{ student.second_name }}</a>
                    <form method="post" class="form-inline">
                        {% csrf_token %}
                        <input type="hidden" name="student_id" value="{{ student.id }}">
                        <button type="submit" name="remove_student" class="btn btn-danger">Remove</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}