{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="mb-4">
                <h1>{{ classroom.title }} <small class="text-muted">{{classroom.gitlab_id}}</small></h1>
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h2>Assignments:</h2>
                    <a href="{% url 'gitlab_classroom:assignment-create' pk=classroom.id %}" class="btn btn-success">+ Add Assignment</a>
                </div>
                <ul class="list-group mb-4">
                    {% for assignment in classroom.assignment.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{assignment.get_absolute_url}}">{{ assignment.title }}</a>
                        <span class="badge badge-primary badge-pill assignment-badge">Deadline: {{ assignment.deadline }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <div class="d-flex align-items-end justify-content-between mb-3">
                    <h2 class="mb-2">Students:</h2> <!-- Ensure no bottom margin on the header -->
                    <form method="post" class="d-flex align-items-center">
                        {% csrf_token %}
                        <div class="flex-grow-1 me-2">
                            {{ add_student_form|crispy }}
                        </div>
                        <button type="submit" name="add_student" class="btn btn-primary mb-2">Add Student</button>
                    </form>
                </div>                
                <ul class="list-group mt-3">
                    {% for student in classroom.students.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{student.get_absolute_url}}">{{ student.first_name }} {{ student.second_name }}</a>
                        <form method="post" class="form-inline">
                            {% csrf_token %}
                            <input type="hidden" name="student_id" value="{{ student.id }}">
                            <button type="submit" name="remove_student" class="btn btn-danger">Remove</button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}