{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Students</h1>
        <a class="btn btn-primary" href="{% url 'gitlab_classroom:student-create' %}">+ Add Student</a>
    </div>
    
    <form method="get" action="" class="d-flex align-items-center mb-3">
        {{ search_form|crispy }}
        <button class="btn btn-secondary ms-2 mb-2" type="submit">🔎 Search</button>
    </form>

    {% if student_list %}
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>GitLab username</th>
                <th>GitLab Sync</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for student in student_list %}
            <tr>
                <td>{{ student.id }}</td>
                <td><a href="{{ student.get_absolute_url }}">{{ student.gitlab_username }}</a></td>
                <td>
                    {% if student.gl_flag %}
                        <span class="text-success">&#10003;</span> <!-- This is a tick for True -->
                    {% else %}
                        <span class="text-danger">&#10007;</span> <!-- This is a cross for False -->
                    {% endif %}
                </td>
                <td><a class="btn btn-info" href="{% url 'gitlab_classroom:student-update' pk=student.id %}">Update</a></td>
                <td><a class="btn btn-danger" href="{% url 'gitlab_classroom:student-delete' pk=student.id %}" onclick="return confirm('Are you sure?');">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2 class="text-center">There are no students.</h2>
    {% endif %}
</div>
{% endblock %}
