<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>GitLab Classroom</title>
</head>
<body>

<nav class="navbar" style="justify-content: center;">
    <a href="https://gitlab-stud.elka.pw.edu.pl">
        <img src="{% static 'icons/project_avatar.jpg' %}" alt="GitLab Logo">
    </a>
    <div class="application-name">
        <a href="https://gitlab-stud.elka.pw.edu.pl">GitLab Classroom</a>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'gitlab_classroom:index' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'gitlab_classroom:classroom-list' %}">Classrooms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'gitlab_classroom:assignment-list' %}">Assignments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'gitlab_classroom:student-list' %}">Students</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
            </li>
        {% endif %}
    </ul>
</nav>

</body>
</html> 